
#main-food-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 16px;
}
#meals-container{
  margin-left: 40%;
  width: 40%;
}
.recepi-image img{
  width: 100%;
}

.details-image{
  width: 100%;
  
}
